{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="menu_responsive">
  <div class="mr_content">
    <input class="search_i" placeholder="Buscar" type="text" />
    <ul class="mc_list">
      <li>
        <a href="">Cursos</a>
        <ul class="ml_sublist">
          <li><a href="">Diseño</a>
          </li>
          <li><a href="">Fotografía</a>
          </li>
          <li><a href="">Marketing</a>
          </li>
          <li><a href="">Negocios</a>
          </li>
          <li><a href="">Emprendimiento</a>
          </li>
          <li><a href="">Música</a>
          </li>
          <li><a href="">Cocina</a>
          </li>
        </ul>
      </li>
      <li><a href="">Proyectos</a>
      </li>
      <li><a href="">Foros</a>
      </li>
      <li><a href="">Membresía</a>
      </li>
      <li><a href="">Invita a un Amigo</a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">

  {% include "home/header.html" %}

  <div class="check_out">
    <div class="co_margen">
    
      {% if not message %}
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Completa la información de tu cuenta para poder acceder al <strong>beneficio exclusivo</strong> de clientes Movistar.
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-lock"></i> {{ message }}
      </div>
      {% endif %}

      <div class="co_variable">
        <div class="cv_head">
          <div class="ch_title">1. Iniciar Sesión</div>
          <div class="ch_title ct_second">2. Ingresa Código Movistar</div>
        </div>
        <div class="cv_body">
          <div class="star_session">
            <div class="pc_buttons">
              <a href="{% url 'social:begin' 'facebook' %}" class="facebook">
                <i class="fa fa-facebook"></i><p>Ingresa con Facebook</p>
              </a>
              <a href="{% url 'social:begin' 'twitter' %}" class="twitter">
                <i class="fa fa-twitter"></i><p>Ingresa con Twitter</p>
              </a>
            </div>
            <div class="pc_line">
              <p>O</p>
            </div>

            <form action="" method="POST">
              {% csrf_token %} 
              <div class="pc_inputs">
                <input name="email" type="email" placeholder="Correo electrónico" required/>
                <input name="password" minlength="6" type="password" placeholder="Contraseña" required/>
                <a href="" class="password">¿Olvidaste tu contraseña?</a>
              </div>
              <button class="btn_naranja" type="submit">Iniciar Sesión</button>
            </form>

            <div class="pc_login">
              <p>
                ¿No tienes una cuenta? <a href="{% url 'home_app:signup' %}">Regístrate</a>
              </p>
            </div>

          </div>
        </div>

        <div class="cv_footer">
          <figure>
            <img src="{% static "img/logo_movistar.png" %}" width="103">
          </figure> 
        </div> 

      </div>

      {% include "home/banner.html" %}
    
    </div>
  </div>
</div>

{% endblock content %}
