{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="menu_responsive">
  <div class="mr_content">
    <input class="search_i" placeholder="Buscar" type="text" />
    <ul class="mc_list">
      <li>
        <a href="">Cursos</a>
        <ul class="ml_sublist">
          <li><a href="">Diseño</a>
          </li>
          <li><a href="">Fotografía</a>
          </li>
          <li><a href="">Marketing</a>
          </li>
          <li><a href="">Negocios</a>
          </li>
          <li><a href="">Emprendimiento</a>
          </li>
          <li><a href="">Música</a>
          </li>
          <li><a href="">Cocina</a>
          </li>
        </ul>
      </li>
      <li><a href="">Proyectos</a>
      </li>
      <li><a href="">Foros</a>
      </li>
      <li><a href="">Membresía</a>
      </li>
      <li><a href="">Invita a un Amigo</a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">

  {% include "home/header.html" %}

  <div class="check_out">
    <div class="co_margen">
    
      {% include "home/message.html" %}

      <div class="co_variable">
        <div class="cv_head">
          <div class="ch_title">1. Completar Registro</div>
          <div class="ch_title ct_second">2. Ingresa Código Movistar</div>
        </div>
        <div class="cv_body">
          <div class="star_session">
          
            <form class="pc_inputs" action="" method="post">
              {% csrf_token %}
              <div class="pi_inline">
                <input type="text" name="first_name" placeholder="Nombre"
                {% if details.first_name %}
                   value="{{details.first_name}}" readonly disabled
                {% else %}
                  required
                {% endif %}
                />
              
                <input type="text" name="last_name" placeholder="Apellido"
                {% if details.last_name %}
                  value="{{details.last_name}}" readonly disabled
                {% else %}
                  required
                {% endif %}
                />
              </div>

              <input type="email" name="email" placeholder="Correo electrónico" 
              {% if details.email %}
                value="{{details.email}}" readonly disabled
              {% else %}
                required
              {% endif %}
              />

              <label class="movistar_code" for="email">Contraseña</label>
              <input id="password" type="password" name="password" placeholder="Contraseña" required />
              <button class="btn_naranja" type="submit">Completar Regístro</button>
            </form>

          </div>
        </div>

        <div class="cv_footer">
          <figure>
            <img src="{% static "img/logo_movistar.png" %}" width="103">
          </figure> 
        </div> 

      </div>

      {% include "home/banner.html" %}
    
    </div>
  </div>
</div>
{% endblock content %}