{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="menu_responsive">
  <div class="mr_content">
    <input class="search_i" placeholder="Buscar" type="text" />
    <ul class="mc_list">
      <li>
        <a href="">Cursos</a>
        <ul class="ml_sublist">
          <li><a href="">Diseño</a>
          </li>
          <li><a href="">Fotografía</a>
          </li>
          <li><a href="">Marketing</a>
          </li>
          <li><a href="">Negocios</a>
          </li>
          <li><a href="">Emprendimiento</a>
          </li>
          <li><a href="">Música</a>
          </li>
          <li><a href="">Cocina</a>
          </li>
        </ul>
      </li>
      <li><a href="">Proyectos</a>
      </li>
      <li><a href="">Foros</a>
      </li>
      <li><a href="">Membresía</a>
      </li>
      <li><a href="">Invita a un Amigo</a>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">

  {% include "home/header.html" %}

  <div class="check_out">
    <div class="co_margen">
      <div class="co_variable">
        <div class="cv_head">
          <div class="ch_title">1. Iniciar Sesión</div>
          <div class="ch_title ct_second">2. Ingresa Usuario Movistar</div>
        </div>
        <div class="cv_body">
          <div class="star_session">
            <div class="pc_buttons">
              <a href="" class="facebook">
                <i class="fa fa-facebook"></i><p>Regístrate con Facebook</p>
              </a>
              <a href="" class="twitter">
                <i class="fa fa-twitter"></i><p>Regístrate con Twitter</p>
              </a>
            </div>
            <div class="pc_line">
              <p>O</p>
            </div>
            <div class="pc_inputs">
              <div class="pi_inline">
                <input type="text" placeholder="Nombre" />
                <input type="text" placeholder="Apellido" />
              </div>
              <input type="text" placeholder="Correo electrónico" />
              <input type="password" placeholder="Contraseña" />
            </div>
            <a href="/subscribe/" class="btn_naranja">Regístrate</a>

            <div class="term_condition">
              <p>Al registrarte estarás aceptando nuestros <a href="">Términos y Condiciones</a> y <a href="">Políticas de Privacidad</a>.</p>
            </div>
            <div class="pc_login">
              <p>¿Ya tienes una cuenta? <a href="/login/">Inicia sesión</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      {% include "home/banner.html" %}

    </div>
  </div>
</div>
{% endblock content %}
